<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <p>Don't have an account? <a href="/signup">Signup here</a></p>
</body>
</html>