<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <p>Already have an account? <a href="/login">Login here</a></p>
</body>
</html>